<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!DOCTYPE html>
    <head>
        <link th:href="@{/css/css/bootstrap.css}" rel="stylesheet">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/" role="button">MoviePop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="accountBarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu" aria-labelledby="accountBarDropdown">
                            <li><a class="dropdown-item" href="/members/myPage">계정 정보</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/login">로그아웃</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menuBarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu" aria-labelledby="menuBarDropdown">
                            <li><a class="dropdown-item" href="/movie/list">영화 검색</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">영화 추천</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="button" onclick="window.location.href='/viewlist'">
                        <i class="bi-cart-fill me-1"></i>
                        선호작
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <a th:href="@{/}" style="text-decoration: none;">
        <div class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">MOVIE POP</h1>
                    <p class="lead fw-normal text-white-50 mb-0">영화를 검색하세요</p>
                </div>
            </div>
        </div>
    </a>

    <body>
        <div class="container">
            <span>
                &nbsp
                <form th:action="@{/movie/list/result}" method="get">
                    <div class="justify-content-center">
                        &nbsp
                        &nbsp
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        <input type="text" name="keyword" class="btn btn-dark btn-lg text-white" placeholder="Search..." style="width: 30%">
                        <button type="submit" class="btn btn-dark btn-lg text-white">검색</button>
                    </div>
                    &nbsp
                    &nbsp
                    <div>
                        &nbsp
                        &nbsp
                        <select name="type">
                            <option selected value="">검색 방식 선택</option>
                            <option value="title">제목으로 검색</option>
                            <option value="genre">장르로 검색</option>
                            <option value="keyword">키워드로 검색</option>
                            <option value="releaseDate">개봉일로 검색</option>
                            <option value="rating">최소 평점 검색</option>
                        </select>
                        <select name="genreClass">
                            <option selected value="">검색 장르 선택</option>
                            <option value="액션">액션</option>
                            <option value="모험">모험</option>
                            <option value="애니메이션">애니메이션</option>
                            <option value="코미디">코미디</option>
                            <option value="범죄">범죄</option>
                            <option value="다큐멘터리">다큐멘터리</option>
                            <option value="드라마">드라마</option>
                            <option value="가족">가족</option>
                            <option value="판타지">판타지</option>
                            <option value="역사">역사</option>
                            <option value="공포">공포</option>
                            <option value="음악">음악</option>
                            <option value="미스테리">미스테리</option>
                            <option value="판타지">판타지</option>
                            <option value="로맨스">로맨스</option>
                            <option value="SF">SF</option>
                            <option value="TV 영화">TV 영화</option>
                            <option value="스릴러">스릴러</option>
                            <option value="전쟁">전쟁</option>
                            <option value="서부">서부</option>
                            <option value="">없음</option>

                        </select>
                        <select name="sort">
                            <option selected value="">정렬 기준 선택</option>
                            <option value="id">기본</option>
                            <option value="title">제목</option>
                            <option value="genre">장르</option>
                            <option value="releaseDate">개봉일</option>
                            <option value="rating">평점</option>
                        </select>
                        <select name="ad">
                            <option selected value="">정렬 방법 선택</option>
                            <option value="ac">낮은순</option>
                            <option value="dc">높은순</option>
                        </select>
                    </div>
                </form>
            </span>
        </div>
    </body>

        <form action="/movie/list" method="get" id="searchForm">
            <input type="hidden" name="page" value="1">
        </form>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <tr th:each="dto : ${result.dtoList}" >
                        <div class="col mb-5">
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <td><img th:if="${dto.getPosterURL() != null }"
                                             th:src="|https://image.tmdb.org/t/p/w300${dto.getPosterURL()}|" ></td>
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <a th:href="@{/movie/read(id = ${dto.id}, page= 1, genre= ${dto.genres})}">
                                                <h5 class="fw-bolder">[[${dto.movieName}]]</h5>
                                            </a>
                                            <h5 class="fw-bolder">[[${dto.movieNameK}]]</h5>
                                            <p class="lead" th:text="${dto.genres}"></p>
                                            <!-- Product reviews-->
                                            <i class="bi bi-star-fill"></i>
                                            TMDB
                                            <i th:text="${dto.rating}"></i>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <button class="btn btn-outline-dark mt-auto" th:onclick="|addToViewList(${dto.id})|">
                                                <i class="bi bi-heart"></i> 선호작 추가
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>

            <div>
                <ul class="pagination justify-content-center align-items-center">

                    <li class="page-item " th:if="${result.prev}">
                        <a class="page-link" th:href="@{/movie/list/result(type=${type},genreClass=${genreClass},sort=${sort},ad=${ad},keyword=${keyword},page= ${result.start -1})}" tabindex="-1">Previous</a>
                    </li>

                    <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                        <a class="page-link" th:href="@{/movie/list/result(type=${type},genreClass=${genreClass},sort=${sort},ad=${ad},keyword = ${keyword},page = ${page})}">
                            [[${page}]]
                        </a>
                    </li>

                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:href="@{/movie/list/result(type=${type},genreClass=${genreClass},sort=${sort},ad=${ad},keyword=${keyword},page= ${result.end + 1} )}">Next</a>
                    </li>
                </ul>
            </div>
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
            </footer>

            <!-- JavaScript Function to Add Movie to ViewList -->
            <script>
                function addToViewList(movieId) {
            console.log("Adding movie with ID:", movieId); // 추가된 코드
            fetch(`/addlist`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ movieId: movieId })  // 데이터를 JSON 형태로 전송
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .then(data => {
                alert(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

            </script>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
        </section>
    </body>
    </html>